footer {
    //height: 40px;
    background: white;
    border-top: 1px solid $color-grey-100;

    @media(max-width: $tablet){
        text-align: center;
    }

    .brand-bar {
        padding: 40px 0;
        background: $color-1;

        * {
            color: white;
        }
    }

    .attribution {
        padding: 30px 0;
    }

    .brought-to-you-by-brightbird {
        color: #dfdfdf;
        letter-spacing: 0.5px;
        font-size: 12px;

        @media(max-width: $tablet){
            text-align: center;
            display: block;
        }
    }
}