//Placeholder Image
$placeholder-image: "https://www.scandichotels.com/Static/img/placeholders/image-placeholder_3x2.svg";

//Screen Sizes
$desktop : 1024px;
$tablet : 860px;
$mobile : 400px;
$iphone5 : 350px;

//Colour Scheme
$color-1 : #212121;
$color-2 : #616161;
$color-3 : #9E9E9E;
$color-4 : #E0E0E0;
$color-5 : #F5F5F5;

$color-grey-400 : #212121;
$color-grey-300 : #616161;
$color-grey-200 : #9E9E9E;
$color-grey-100 : #E0E0E0;
$color-grey-50  : #F5F5F5;

$font-family-1 : 'Roboto', sans-serif;
$font-family-2 : 'Roboto', sans-serif;